// Layout transition
.layout-leave-active {
  transition: opacity 0.2s, transform 0.2s;
}

.layout-leave-to {
  transform: scale(0.99);
  opacity: 0;
}

// Page transition
.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s, transform 0.2s;
}

.page-enter-from,
.page-leave-to {
  transform: scale(0.99);
  opacity: 0;
}
