.color-bg-01 {
  background-color: var(--color-ui-01) !important;
}

.color-bg-02 {
  background-color: var(--color-ui-02) !important;
}

.color-bg-03 {
  background-color: var(--color-ui-03) !important;
}

.color-text-01 {
  color: var(--color-text-01) !important;
}

.color-text-02 {
  color: var(--color-text-02) !important;
}
